{% from '@bolt/_macro/_macro.twig' import attr %}

{#=== OPTIONS ========================================================================================================#}

{% set option = {
    class:          field.class|default(''),
    label:          field.label|default(''),
    pattern:        field.pattern|default(''),
    placeholder:    field.placeholder|default(''),
    info:           field.info|default(''),
    required:       field.required|default(false),
    errortext:      field.error|default(''),
} %}


{#=== INIT ===========================================================================================================#}

{% set attr_checkbox = {
    checked:  content,
    class:    option.class,
    name:     name,
    id:       key,
    type:     'checkbox',
    style:    'margin-left: 0px;'
} %}

{#=== FIELDSET =======================================================================================================#}

<fieldset class="checkbox" style="display: block;">

    <label class="col-sm-2 col-md-3 col-lg-4 control-label" for="{{ key }}">{{ option.label ? option.label : name | capitalize }}</label>
    <div class="col-sm-10 col-md-9 col-lg-8">
        <input{{ attr(attr_checkbox) }}>
    </div>

</fieldset>
