{% from '@bolt/_macro/_macro.twig' import attr %}

{#=== OPTIONS ========================================================================================================#}

{% set option = {
    class:     field.class|default(''),
    height:    field.height|default(''),
    label:     field.label|default(''),
    info:      field.info|default(''),
    required:  field.required|default(false),
    errortext: field.error|default(''),
} %}


{#=== INIT ===========================================================================================================#}

{% set attr_text = {
    class:     option.class ~ ' form-control',
    name:      name,
    required:  option.required,
    style:     option.height ? 'height: ' ~ option.height ~ ';' : '',
    data_errortext: option.errortext,
} %}

{#=== FIELDSET =======================================================================================================#}

<fieldset class="textarea">

    <label class="col-sm-2 col-md-3 col-lg-4 control-label">{{ option.label ? option.label : name | capitalize }}</label>
    <div class="col-sm-10 col-md-9 col-lg-8">
        <textarea{{ attr(attr_text) }}>{{ content }}</textarea>
    </div>

</fieldset>
