{% from '@bolt/_macro/_macro.twig' import attr %}

{#=== OPTIONS ========================================================================================================#}

{% set option = {
    class:          field.class|default(''),
    label:          field.label|default(''),
    pattern:        field.pattern|default(''),
    placeholder:    field.placeholder|default(''),
    info:           field.info|default(''),
    required:       field.required|default(false),
    errortext:      field.error|default(''),
    multiple:       (field.multiple is defined and field.multiple),
    values:         field.values
} %}


{#=== INIT ===========================================================================================================#}

{% set selection = content %}
{% if selection is not iterable %}
    {% set selection = [ selection ] %}
{% endif %}


{% set attr_select = {
    class:     option.class ~ ' form-control',
    id:        key,
    multiple:  option.multiple,
    required:  option.required,
    name:      (option.multiple) ? name ~ '[]' : name,
} %}

{#=== FIELDSET =======================================================================================================#}

<fieldset class="multiselect">

    <label class="col-sm-2 col-md-3 col-lg-4 control-label">{{ option.label ? option.label : name | capitalize }}</label>
    <div class="col-sm-10 col-md-9 col-lg-8">
        <select{{ attr(attr_select) }}>
            {% for value in option.values %}

                {% if value is iterable %}
                    {% set attr_opt = {
                        value:     value|keys[0],
                        selected:  (value|keys[0] in selection),
                    } %}
                    {% set value = value[value|keys[0]] %}
                {% else %}
                    {% set attr_opt = {
                        value:     value,
                        selected:  (value in selection),
                    } %}
                {% endif %}
                
                <option{{ attr(attr_opt) }}>{{ value }}</option>
            {% endfor %}
        </select>
    </div>

</fieldset>
